@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
body {
  margin: 0;
  width: 100%;
  height: calc(100vh + 1800px);
  background: rgb(0, 0, 0);
  color: rgb(0, 255, 221);
}
#scene {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.cube-wrap {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  perspective: 99999px;
  transform-style: preserve-3d;
  will-change: transform;
}
.layer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px rgb(0, 255, 213), 0 0 rgb(0, 255, 255);
}
.layer.face {
  transform: translate3d(0px, 0px, 150px);
  transform-style: preserve-3d;
  position: relative;
}
.layer.back {
  transform: translate3d(0px, 0px, -150px);
  transform-style: preserve-3d;
}
.layer.left {
  transform: rotateY(-90deg) translate3d(0px, 0px, 150px);
  transform-style: preserve-3d;
}
.layer.right {
  transform: rotateY(90deg) translate3d(0px, 0px, 150px);
  transform-style: preserve-3d;
}
.layer.top {
  transform: rotateX(90deg) translate3d(0px, 0px, 150px);
  transform-style: preserve-3d;
}
.layer.bottom {
  transform: rotateX(-90deg) translate3d(0px, 0px, 150px);
  transform-style: preserve-3d;
}
.test {
  position: absolute;
  top: 155px;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  margin: 0;
}
